
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS Cats</title>
</head>
<body>
    <div class="container">
        <div class="banner">
            <h1>EJS Cats</h1>
        </div>

        <div class="catlist">
            <div class="cat1">
                <a href="/sleepy"><img src="/images/cats1.jpeg" alt="cat sleeping on back with paws in the air"></a>
                
            </div>
    
            <div class="cat2">
                <a href="/scaredy"><img src="/images/cats2.jpeg" alt="cat standing on hind legs looking dejected"></a>
                
            </div>
    
            <div class="cat3">
                <a href="/bashful"><img src="/images/cats3.jpeg" alt="cat hiding behind carpet and furniture"></a>
                
            </div>
        </div>
    </div>
</body>
</html>